*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

// custom styling
.margin_auto {
  margin: 0 auto;
}
.mr {
  margin-right: 1rem;
}
.ml_10 {
  margin-left: 10rem;
}
.mt_1 {
  margin-top: 1rem;
}
.mt_2 {
  margin-top: 2rem;
}
.mt_3 {
  margin-top: 3rem;
}
.mt_5 {
  margin-top: 5rem;
}
.mt_10 {
  margin-top: 10rem;
}
.bgwhite {
  background-color: white;
}
.br_10 {
  border-radius: 100rem;
}

.bg_grey_trans_05 {
  padding: 0 1.5rem;
  background-color: #6666668d !important;
}

.bg_grey_trans_06 {
  background-color: rgba(102, 102, 102, 0.553) !important;
}
.width_25 {
  width: 25% !important;
}
.width_20 {
  width: 20% !important;
}
.width_30 {
  width: 30% !important;
}
.width_40 {
  width: 40% !important;
}
.width_50 {
  width: 50% !important;
}

.width_60 {
  width: 60%;
}
.width_70 {
  width: 70% !important;
}
.center {
  text-align: center;
}
.height_1 {
  height: 1rem !important;
}
.height_2 {
  height: 2rem !important;
}

.height_3 {
  height: 3rem !important;
}
.height_4 {
  height: 4rem !important;
}
.height_5 {
  height: 5rem !important;
}

.size_1_5 {
  font-size: 1.5rem !important;
}

.size_2 {
  font-size: 2rem !important;
}
.size_2_5 {
  font-size: 2.5rem !important;
}
.size_3 {
  font-size: 3rem !important;
}

.color_white {
  color: #fff !important;
}

.color_grey {
  color: #9ea810 !important;
}

.pd_1 {
  padding: 1rem;
}

.pd_2 {
  padding: 2rem;
}
.pdr_13 {
  padding-left: 13rem;
}

.prelative {
  position: relative;
}
