.textbox {
  // position: absolute;
  input {
    border: 0.1rem solid #e1e1e1;
    border-radius: 0.5rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      padding-left: 1rem;
    }
  }
}
