.top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #de9e00;
  padding: 0.5rem 10rem;
  p {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 2rem;
  }
}
